<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/default.min.css">
<style>
  .hljs {
    background: #E3E3E3;
    border-radius: 4px;
  }
</style>
<div class="top-nav">
  <a href="/" class="brand">Ludum Dare Stats</a>
</div>

<div class="content api-page">
  <h1>API DOCS</h1>
  <p><strike>Resource to fetch Ludum Dare entries by username. (must have an Author Page, check it by http://ludumdare.com/compo/author/[author])</strike></p>
  <p><b>Since now we have 2 sites (http://ludumdare.com and https://ldjam.com) to be able to keep both entries this API will allow to "append"
  some username from new ldjam.com into your ludumdare.com data</b></p>
  <p><strike>
    <label class="hl-line">GET</label><label class="hl-line">https://ldstats.info/api/authors/[author]</label>
  </strike></p>
  <p>
    <label class="hl-line">GET</label><label class="hl-line">https://ldstats.info/api/authors/<b>[old author]</b>/plus/<b>[new username]</b></label>
  </p>
  <h4>JSON Response</h4>
  <pre><code class="js">
  {
    link: String, // full url to Author page
    ldUser: String, // LudumDare username
    ldUserId: String, // LudumDare UserId
    ludums: [Number], // Ludum Dare Numbers where this author participated

    plus: { // appended data from ldjam
      id: Number, // ldjam.com user Id
      username: String, // ldjam.com username
      link: String // like "https://ldjam.com/users/[username]"
    }

    entries:[{ // Array of entries for this author

      link: String, // full url to entry page
      ludum: Number, // Ludum number of this entry
      title: String, // Entry title
      type: String, // Enum: "compo", "jam" or "unknown"

      coolness: Number, // Coolness as percentage. ie: 75

      scores: {
        fun: Number // Rate on this category. ie: 3.54
        theme: Number,
        innovation: Number,
        audio: Number,
        overall: Number,
        mood: Number,
        graphics: Number,
        humor: Number,
        average: Number // Average of categories. 0 is not calculated
      },

      ranking: {
        fun: Number // Position for this category. ie: 400
        theme: Number,
        innovation: Number,
        audio: Number,
        overall: Number,
        mood: Number,
        graphics: Number,
        humor: Number,
        total: Number // total entries for this type (compo or jam)
      }

      percents: {
        fun: Number // Percent position for this category. ie: 37.6
        theme: Number,
        innovation: Number,
        audio: Number,
        overall: Number,
        mood: Number,
        graphics: Number,
        humor: Number
        // where total entries are 100%
      }
    }]
  }
  </code></pre>
  <br/>
  <p>Resource to fetch Ludum Dare Total Entries.</p>
  <label class="hl-line">GET</label><label class="hl-line">https://ldstats.info/api/totals</label>
  <h4>JSON Response</h4>
  <pre><code class="js">
  {
    lastLudum: Number, // Last Ludum Dare
    compo: [
      Number, // LD#1
      // ... etc
    ],
    jam: [
      Number, // LD#1
      // ... etc
    ]
  }
  </code></pre>
  <br/>
  <p>Resource to fetch Ludum Dare Total Entries For a Ludum Number.</p>
  <label class="hl-line">GET</label><label class="hl-line">https://ldstats.info/api/totals/[#ld]</label>
  <h4>JSON Response</h4>
  <pre><code class="js">
  {
    compo: Number, // Total entries at Compo for this #LD
    jam: Number, // Total entries at Jam for this #LD
  }
  </code></pre>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
