<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/default.min.css">
<style>
  .hljs {
    background: #E3E3E3;
    border-radius: 4px;
  }
</style>
<div class="top-nav">
  <a href="/" class="brand">Ludum Dare Stats</a>
</div>

<div class="content api-page">
  <h1>API DOCS</h1>
  <p>It's pretty straight forward, there is only one resource which is the username as an Author of Ludum Dare games.</p>
  <label class="hl-line">GET</label><label class="hl-line">http://ldstats.info/api/authors/[username]</label>
  <h4>JSON Response</h4>
  <pre><code class="js">
  {
    link: String, // full url to Author page
    ldUser: String, // LudumDare username
    ldUserId: String, // LudumDare UserId
    ludums: [Number], // Ludum Dare Numbers where this author participated

    entries:[{ // Array of entries for this author

      link: String, // full url to entry page
      ludum: Number, // Ludum number of this entry
      title: String, // Entry title
      type: String, // Enum: "compo", "jam" or "unknown"

      coolness: Number, // Coolness as percentage. ie: 75

      scores: {
        fun: Number // Rate on this category. ie: 3.54
        theme: Number,
        innovation: Number,
        audio: Number,
        overall: Number,
        mood: Number,
        graphics: Number,
        humor: Number,
        average: Number // Average of categories. 0 is not calculated
      },

      ranking: {
        fun: Number // Position for this category. ie: 400
        theme: Number,
        innovation: Number,
        audio: Number,
        overall: Number,
        mood: Number,
        graphics: Number,
        humor: Number,
        total: Number // total entries for this type (compo or jam)
      }

      percents: {
        fun: Number // Percent position for this category. ie: 37.6
        theme: Number,
        innovation: Number,
        audio: Number,
        overall: Number,
        mood: Number,
        graphics: Number,
        humor: Number
        // where total entries are 100%
      }
    }]
  }
  </code></pre>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
