<div>
  <div class="top-nav">
    <a href="/" class="brand">Ludum Dare Stats</a>
    <div class="right-nav">
      <a class="zocial icon twitter" title="Tweet it!"
        href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fldstats.info&hashtags=ldstats&text=LudumDare+Stats">
        Tweet it!
      </a>
      <a class="zocial icon facebook" title="Share it!"
        href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fldstats.info&t=LudumDare+Stats"
        onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;">
        Share it!
      </a>
      <a class="zocial icon googleplus" title="Share it!"
        href="https://plus.google.com/share?url=http%3A%2F%2Fldstats.info"
        onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;">
        Share it!
      </a>
      <a class="zocial icon github" title="Fork me on GitHub" href="https://github.com/pjnovas/ldstats" target="_blank">
        Fork me on Github
      </a>
      <a class="api-link" href="/api">API Docs</a>
    </div>
  </div>

  <div class="sec-nav">
    <div class="content">
      <div class="search">
        <input id="author" type="text" placeholder="ludumdare.com author">
        <label>+</label>
        <input id="username" type="text" placeholder="ldjam.com username">
        <a id="fetch">Fetch</a>
      </div>

      <div class="tabs">
        <div>
          <h4>Scores</h4>
          <a data-tab="rates" class="active" title="Chart"><i class="fa fa-line-chart"></i></a>
          <a data-tab="data" title="Grid"><i class="fa fa-th-list"></i></a>
        </div>
        <div>
          <h4>Standings</h4>
          <a data-tab="standings" title="Chart"><i class="fa fa-line-chart"></i></a>
          <a data-tab="podium" title="Grid"><i class="fa fa-th-list"></i></a>
          <a data-tab="percents" title="% Grid">% <i class="fa fa-th-list"></i></a>
        </div>
        <div>
          <a data-tab="coolness" title="Coolness"><i class="fa fa-thumbs-up"></i></a>
          <a data-tab="cards" title="Cards"><i class="fa fa-sticky-note"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="content page">
    <div class="not-found">
      <h2>Author or Username not found</h2>
      <p>Make sure you are trying the username instead of the display name.</p>
      <p>The author (OLD ludumdare.com) can be found at the url as http://ludumdare.com/compo/author/[author]/</p>
      <p>The username (NEW ldjam.com) can be found at the url as http://ldjam.com/users/[username]/</p>
      <p>The second box from ldjam is optional. For those new to LD starting at ldjam.com check back again post LD #39</p>
      <p>Some users return a not found from the ludumdare.com site, those cannot be fetch.</p>
    </div>
    <div class="tabs-ctn">
      <div class="tab-content rates active">
        <div class="ct-chart-rates ct-minor-seventh"></div>
        <ul class="categories"></ul>
      </div>
      <div class="tab-content data">
        <table id="rates-data"></table>
        <p>Highlighted values greater than 4.00</p>
      </div>
      <div class="tab-content standings">
        <div class="ct-chart-standings ct-minor-seventh"></div>
        <ul class="categories"></ul>
      </div>
      <div class="tab-content podium">
        <table id="position-data"></table>
        <p>Total (last column) is showing only the total entries for the type of ludum at each one (compo or jam)</p>
        <p>Highlighted values less than 100</p>
      </div>
      <div class="tab-content percents">
        <table id="percents-data"></table>
        <p>Values are in % over total entries for the type of ludum (compo or jam)</p>
        <p>Highlighted values less than 10%</p>
      </div>
      <div class="tab-content coolness">
        <table id="coolness-data"></table>
        <p>Values are in %</p>
      </div>
      <div class="tab-content cards">
        <select id="ludum-numbers"></select>
        <select id="card-style">
          <option value="normal" selected="true">Default</option>
          <option value="arcade">Arcade</option>
        </select>
        <div id="card-ctn"></div>
        <textarea id="sharer"></textarea>
      </div>
    </div>
  </div>

  <div class="loading"><span>LOADING ...</span></div>

</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/chartist.js/0.9.4/chartist.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>

{{#if run_author}}
<script type="text/javascript">
  window.run_author = "{{run_author}}";
  window.run_username = "{{run_username}}";
</script>
{{/if}}

<script src="/js/index.js?v={{{version}}}"></script>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
