
body {
  background: #CCC2B2;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.top-nav {
  position: fixed;
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  color: #ddd;
  text-align: center;
  z-index: 2;
}

.zocial.icon {
  margin: 0;
  font-size: 12px;
  box-shadow: none;
  text-shadow: none;
  border-bottom: none;
  background-image: none;
}

.zocial.icon:hover,
.zocial.icon:focus {
  background-image: none;
}

.zocial.icon.twitter, .zocial.icon.facebook {
  color: #fff;
}

.brand, .brand:hover {
  margin: 0 10px;
  color: #ddd;
  text-decoration: none;
  float: left;
}

.right-nav {
  float: right;
}

.right-nav a {
  color: #ddd;
  text-decoration: none;
  margin: 0 10px;
}

.right-nav .api-link {
  vertical-align: top;
  display: inline-table;
  font-weight: 500;
  padding: 4px 7px;
  background-color: #737373;
  margin: 0;
  margin-right: 10px;
  border-radius: 3px;
  color: #eee;
}

.sec-nav {
  width: 100%;
  background-color: #333;
  padding: 60px 0 8px 0;
  color: #ddd;
}

.sec-nav .tabs {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

.sec-nav .tabs>div {
  display: inline-block;
  height: 45px;
}

.sec-nav .tabs>div {
  border-right: 1px solid #999;
  padding-right: 5px;
}

.sec-nav .tabs>div:last-child {
  border-right: none;
  padding-right: 0;
}

.sec-nav h4 {
  margin: 0;
  text-align: center;
}

.sec-nav .tabs a {
  padding: 3px 10px 2px 10px;
  border-radius: 5px 5px 0 0;
  vertical-align: sub;
}

.sec-nav .tabs a:hover {
  background-color: #A79C8B;
  cursor: pointer;
  color: #333;
}

.sec-nav .tabs a.active {
  background-color: #CCC2B2;
  color: #333;
}

.tabs, .tabs-ctn {
  display: none;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.search {
  display: block;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.loading span {
  margin-top: 100px;
  display: block;
  font-size: 40px;
  font-weight: 400;
}

.not-found {
  display: none;
  width: 100%;
}

#fetch {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

#fetch:hover {
  background-color: #ddd;
  color: #333;
}

#username {
  border: none;
  padding: 10px;
  font-size: 14px;
  min-width: 200px;
}

.content {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

.content.page {
  padding-top: 20px;
}

.content.api-page {
  padding-top: 50px;
}

.categories {
  padding: 5px;
  list-style: none;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #7F8590;
}

.categories li {
  margin: 5px 0;
  cursor: pointer;
  margin: 1px 0;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #DDDDDD;
}

.categories li:last-child {
  margin-top: 6px;
}

.categories li.off {
  text-decoration: line-through;
  background-color: #B7B7B7;
}

.tooltip {
  position: absolute;
  display: inline-block;
  min-width: 5em;
  padding: .5em;
  background: #F5F3EF;
  color: #453D3F;
  font-weight: 700;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.tooltip:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top-color: #F5F3EF;
}

.ct-labels .ct-label {
  font-size: 16px;
}

/* Override Colors */

.ct-series-a .ct-line,.ct-series-a .ct-point, .categories>li:nth-child(1) {
  stroke: #d70206;
  color: #d70206;
}

.ct-series-b .ct-line,.ct-series-b .ct-point, .categories>li:nth-child(2) {
  stroke: #f05b4f;
  color: #f05b4f;
}

.ct-series-c .ct-line,.ct-series-c .ct-point, .categories>li:nth-child(3) {
  stroke: #BD9A32;
  color: #BD9A32;
}

.ct-series-d .ct-line,.ct-series-d .ct-point, .categories>li:nth-child(4) {
  stroke: #d17905;
  color: #d17905;
}

.ct-series-e .ct-line,.ct-series-e .ct-point, .categories>li:nth-child(5) {
  stroke: #993951;
  color: #993951;
}

.ct-series-f .ct-line,.ct-series-f .ct-point, .categories>li:nth-child(6) {
  stroke: #59922b;
  color: #59922b;
}

.ct-series-g .ct-line,.ct-series-g .ct-point, .categories>li:nth-child(7) {
  stroke: #0544d3;
  color: #0544d3;
}

.ct-series-h .ct-line,.ct-series-h .ct-point, .categories>li:nth-child(8) {
  stroke: #6b0392;
  color: #6b0392;
}

.ct-series-i .ct-line, .ct-series-i .ct-point, .categories>li:nth-child(9) {
  stroke: #453d3f;
  color: #453d3f;
}

.rates .ct-series-i .ct-line {
  stroke-width: 10px;
}

.rates .ct-series-i .ct-point {
  stroke-width: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr td,
table tr th {
  border-color: rgba(0,0,0,.2);
  border-width: 1px;
  border-style: dashed;
  padding: 5px 10px;
  text-align: center;
  font-weight: 100;
}

table tr td:nth-child(2),
table tr th:nth-child(2){
  text-align: left;
}

table tr td:last-child{
  border-style: solid;
  font-weight: 400;
}

table tr td.highlight {
  color: #D28205;
  font-weight: 400;
}

table tr td.top-1>div,
table tr td.top-2>div,
table tr td.top-3>div {
  margin: 0 auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: -1px -2px 4px rgba(0,0,0,0.2) inset;
}

table tr td.top-1>div {
  background-color: #E1C00F;
  border: 2px solid #B89F18;
}

table tr td.top-2>div {
  background-color: #A0A0A0;
  border: 2px solid #878787;
}

table tr td.top-3>div {
  background-color: #DB9046;
  border: 2px solid #BF7935;
}

table tr th {
  border-width: 0px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 2px 13px 2px;
  border-bottom-style: dashed;
  font-size: 10px;
  position: relative;
  cursor: pointer;
}

table tr th:nth-child(1),
table tr th:nth-child(2) {
  font-size: 14px;
}

table tr th:last-child {
  border: 1px solid rgba(0,0,0,0.2);
}

.percents table tr th:last-child{
  border: none;
}

.percents table tr td:last-child{
  border-style: dashed;
  font-weight: 100;
}

table tr td:hover,
.percents table tr td:hover {
  font-weight: 600;
}

table tr th.sorting {
  border-bottom: 3px solid #000;
}

table tr th.sorting > div {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

table tr th.sorting.asc > div{
  border-width: 0 7.5px 10px 7.5px;
  border-color: transparent transparent #000 transparent;
}

table tr th.sorting.desc > div{
  border-width: 10px 7.5px 0 7.5px;
  border-color: #000 transparent transparent transparent;
}

table tr td a {
  text-decoration: none;
  color: #154C8C;
  display: inline-block;
  width: 100%;
}

.cell-hover {
  background-color: #DED6C8;
  border: 1px solid white;
}


.hl-line {
  margin: 0 5px;
  background-color: #E3E3E3;
  padding: 5px 10px;
  border-radius: 4px;
}
