{
  "db": {
    "name": "ldstats",
    "host": "localhost",
    "url": null
  },
  "session": "top secret",
  "googleAnalytics": "UA-XXXXXXXX-X",
  "lastLudum": 33,
  "totals":[ // total entries from last ludum to 1
    2725,
    2821,
    2637,
    2538,
    2495,
    2061,
    2212,
    2344,
    1327,
    1406,
    1402,
    890,
    598,
    352,
    285,
    213,
    204,
    121,
    144,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ]
}
